Source: vaudtax
Section: non-free/misc
Priority: extra
Maintainer: Didier Raboud <odyx@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.vd.ch/themes/etat-droit-finances/impots/vaudtax/

Package: vaudtax
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, zenity
Description: VaudTax 2012
