#!/usr/bin/make -f

%:
	dh $@

VT_YEAR=2018
VT_VERSION=${VT_YEAR}.`date +%Y%m%d`
ARCH := $(shell /usr/bin/getconf LONG_BIT)bit

get-orig-source:
	# BUGS:
	# tar to directory, move and remove, as the tarball is malformed
	set -e; \
		wget -c -O ../vaudtax_${VT_VERSION}.orig.tar.gz \
			'https://vaudtax-dl.vd.ch/vaudtax${VT_YEAR}/telechargement/linux/${ARCH}/VaudTax_${VT_YEAR}.tar.gz'; \
		tar --transform "s#^[^/]*/#./#" -xzvf ../vaudtax_${VT_VERSION}.orig.tar.gz; \
		VT_VERSION_REAL=`grep '<version>' version.xml | sed -e 's#^.*<version>\(.*\)</version>.*$$#\1#g'`; \
		dch --newversion ${VT_YEAR}.$${VT_VERSION_REAL}-0generator0 --force-bad-version -m "New ${VT_YEAR} $${VT_VERSION_REAL} release" ; \
		dch --release -m "New ${VT_YEAR} $${VT_VERSION_REAL} release" ; \
		ln -sf vaudtax_${VT_VERSION}.orig.tar.gz ../vaudtax_${VT_YEAR}.$${VT_VERSION_REAL}.orig.tar.gz
