[Desktop Entry]
Version=1.0
Type=Application
Exec=vaudtax
Icon=/usr/share/vaudtax/config/cd/icons/helpWindow.gif
Name=VaudTax 2020
GenericName=VaudTax
Comment=Assistant pour la déclaration d'impôt
Categories=Office;
